


.data-grid-container {
    height: 500px;
    width: 100%;
    padding-top: 70px;
    padding-left: 250px;
    padding-right: 100px;
    margin-top: auto;
    margin-bottom: 100px;
    text-align : center;
  }
  .button-pill {
    background-color: #4CAF50;
    border: none; 
    color: white;
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .button-pill:hover {
    background-color: #1c120c; 
  }
  
.circular-button {
    background-color: #170404;
    border: none;
    border-radius: 50%; 
    width: 30px; 
    height: 30px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .circular-button:hover {
    background-color: black; 
  }

.custom-button-inactive {
  background-color: #e49438c8; 
  border: none;
  color: white; 
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.custom-button-active {
  background-color: rgb(180, 180, 244); 
  border: none;
  color: white;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.custom-button:hover {
  background-color: #0056
}


.pill {
  
  padding: 1px 3px;
  border-radius: 25px;
  color: white;
 
} 

.inactive {
  background-color: #ff1201c8;
}

.active {
  background-color: rgb(18, 255, 77);
  color: black;
}
  
  @media screen and (max-width: 768px) {
    .data-grid-container {
        height: 526px;
        padding-left: 220px;
        padding-right: 60px;
    }
  }  @media screen and (max-width: 1000px) {
    .data-grid-container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }