.banner {
    width: 80%;
    height: 400px;
    margin: 0 auto; 
    
    border-radius: 2px;
  }

  
  .carousel-image {
    width: 80%;
    max-height: 400px;
    margin: 0 auto; 
    object-fit: cover; 
    border-radius: 2px;
  }